<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokemon.pokemon.pokeDex.PokedexMapper">

    <insert id="insertGen8" parameterType="com.pokemon.pokemon.pokeDex.PokedexDTO">
        INSERT INTO gen8 (
            id, region_no, pokedex_no, name_kor, name_eng,
            type1, type2, hp, attack, defense,
            sp_attack, sp_defense, speed, image_url
        ) VALUES (
            #{id}, #{regionNo}, #{pokedexNo}, #{nameKor}, #{nameEng},
            #{type1}, #{type2, jdbcType=VARCHAR}, #{hp}, #{attack}, #{defense},
            #{spAttack}, #{spDefense}, #{speed}, #{imageUrl}
        )
    </insert>

    <insert id="insertGen9" parameterType="com.pokemon.pokemon.pokeDex.PokedexDTO">
        INSERT INTO gen9 (
            id, region_no, pokedex_no, name_kor, name_eng,
            type1, type2, hp, attack, defense,
            sp_attack, sp_defense, speed, image_url
        ) VALUES (
            #{id}, #{regionNo}, #{pokedexNo}, #{nameKor}, #{nameEng},
            #{type1}, #{type2, jdbcType=VARCHAR}, #{hp}, #{attack}, #{defense},
            #{spAttack}, #{spDefense}, #{speed}, #{imageUrl}
        )
    </insert>

    <select id="getPokedexByGeneration" resultType="com.pokemon.pokemon.pokeDex.PokedexDTO">
        <choose>
            <when test="generation == 8">
                SELECT * FROM gen8
            </when>
            <when test="generation == 9">
                SELECT * FROM gen9
            </when>
            <otherwise>
                SELECT * FROM gen8
            </otherwise>
        </choose>
    </select>

</mapper>